<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>"The New York Times" web scraper</h1>
      <h3 class="lead">Scraping all the business news that's fit to print</h3>
      <hr class="my-2">
      <lg>Source:
        <a href="https://www.nytimes.com/">The New York Times</a>
      </lg>
    </div>
    <div class="row">
      <div class="articles col-xs-12">
        <ul class="articles-holder">
          {{#each article}}
          <li class="article">
            <h4>
              <a href="{{link}}" target="_blank">{{this.title}}</a>
              <small>(
                <a href="http://{{linkPrev}}" target="_blank">{{linkPrev}}</a>)</small>
            </h4>
            <small>
              <a href="#" class="note btn {{#if note}}btn-success{{else}}btn-info{{/if}} btn-sm" data-id="{{_id}}" data-title="{{title}}">
                {{#if note}}View Note{{else}}Add Note{{/if}}
              </a>
            </small>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>



